<h1>Editing consultum</h1>

<%= render "form", consultum: @consultum %>

  <br>
  <div>

    <%= button_to "Mostrar dados da consulta", @consultum, method: :get, class: "btn btn-primary" %>
    <br>
    <form action="/consulta" method="get">
      <button type="submit">Voltar</button>
    </form>
</div>
