<!DOCTYPE html>
<html>
<head>
  <title>Consultas</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 70vh;
          margin: 0;
          padding: 0;
      }

      h1 {
          text-align: center;
      }

      #consulta {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 20px;
      }

      .consulta {
          margin-bottom: 10px;
      }

      .consulta p {
          margin-bottom: 5px;
      }

      .btn {
          padding: 10px 20px;
          font-size: 16px;
          color: white;
          border: none;
          cursor: pointer;
      }

      .btn:hover {
          opacity: 0.8;
      }

      .btn-primary {
          background-color: #4CAF50;
      }

      .btn-primary:hover {
          background-color: #45a049;
      }

      .btn-group {
          margin-top: 20px;
          display: flex;
      }

      .btn-group button {
          margin-right: 10px;
      }

      .btn-gray {
          background-color: gray;
      }
  </style>
</head>
<body>
<p style="color: green"><%= notice %></p>

<h1>Consultas</h1>

<div id="consulta">
  <% @consulta.each do |consultum| %>
    <div class="consulta">
      <%= render consultum %>
      <p>
        <%= button_to "Mostrar dados da consulta", consultum, method: :get, class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>

<div class="btn-group">
  <form action="/consulta/new" method="get">
    <button type="submit" class="btn btn-primary">Cadastrar uma nova consulta</button>
  </form>
  <form action="/" method="get">
    <button type="submit" class="btn btn-gray">Voltar</button>
  </form>
</div>
</body>
</html>
