<p style="color: green"><%= notice %></p>

<h1>Consulta</h1>

<div id="consulta">
  <% @consulta.each do |consultum| %>
    <%= render consultum %>
    <p>
      <%= button_to "Mostrar dados da consulta", consultum, method: :get, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<form action="/consulta/new" method="get">
  <button type="submit">Cadastrar um nova consulta</button>
</form>

<br>
<form action="/" method="get">
  <button type="submit">Voltar</button>
</form>
