<p style="color: green"><%= notice %></p>

<h1>Medicos</h1>

<div id="medicos">
  <% @medicos.each do |medico| %>
    <%= render medico %>
      <%= button_to "Mostrar dados do medico", medico, method: :get, class: "btn btn-primary" %>
  <% end %>
</div>
<br>
<form action="/medicos/new" method="get">
  <button type="submit">Cadastrar um novo medico</button>
</form>

<br>
<form action="/" method="get">
  <button type="submit">Voltar</button>
</form>